<p class="my-5 fw-bold">Welcome to our shopping website , start shopping...</p>

<div class="d-flex  justify-content-center  my-5">
  <input
  type="text"
  class="form-control me-3 w-100"
  placeholder="Search"
  [(ngModel)]="searchTerm"
/>
<button
  type="button"
  class="btn btn-success"
  (click)="searchProducts()"
>
  Search
</button>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  @for( product of filteredProducts; track product.id) {
  <div class="col">
    <app-product-card [productItem]="product"></app-product-card>
  </div>
  }@empty {
  <p>No data found</p>
  }
</div>
